:root{
    --accent-dark: rgba(7, 82, 180, 0.733);
}
*{
    box-sizing:border-box;
}
body{
    font-family: Arial;
    margin: 0;;
}
h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }

  /*limiting the header for big vw*/
.container{
    background: cornsilk;
    margin: 0 auto;
}
.main-header .container{
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    color:darkblue;
}


.main-nav ul{
    margin: 1em 0 .5em;
    text-align: center;
   
}
.main-nav li{
    display: inline;
    text-decoration: none;
    
}
.main-nav a{
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    color:darkblue;
    font-weight:bold;
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside {
    flex: 1 0 20%;
    background-color: #fff;
    padding: 20px;
    text-align: right;
    margin-bottom:1em;
    border-right: .2em solid darkblue;
    color:darkblue;
  }
  
  section {
    flex: 4 0 80%;
    background-color:#fff;
    padding: 20px;
    margin-bottom: 1em;
    padding-left:2em;
  }
  
  .sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background:cornsilk;
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
        display: hide;
        text-align:center;
        border-bottom: 2px solid darkblue;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: cornsilk
  }
}