:root{
    --accent-dark: rgba(7, 82, 180, 0.733);
}
*{
    box-sizing:border-box;
}
body{
    font-family: Arial;
    margin: 0;
    color:var(--accent-dark);
}
h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }

  /*limiting the header for big vw*/
.container{
    background: cornsilk;
    margin: 0 auto;
}
.main-header .container{
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    color:darkblue;
}
.banner{
  background:darkblue;
}


.main-nav ul{
    margin: 1em 0 .5em;
    text-align: center;
   
}
.main-nav li{
    display: inline;
    text-decoration: none;
    
}
.main-nav a{
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    color:darkblue;
    font-weight:bold;
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside {
    flex: 1 0 20%;
    background-color: #fff;
    padding: 20px;
    text-align: right;
    margin-bottom:1em;
    border-right: .2em solid darkblue;
    color:darkblue;
  }
  
  section {
    flex: 4 0 80%;
    background-color:#fff;
    padding: 20px;
    margin-bottom: 1em;
    padding-left:2em;
  }
  
  .sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }
  .work-container{
    display: grid;
    grid-template-columns:repeat (2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

  }
  .work{
  
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    
  
  }
  

  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color:var(--accent-dark);
    background:aqua;
    padding: 1em 2em 1em 2em;
   
  }
  .hero-text a{
    text-decoration: none;
  }
 
  .one{
    grid-column: 1 / 3;
    grid-row: 1;
    background-image: url("./screenshots/imFeelingApp.JPG");
    
  }
  .two{
    grid-column:1/2;
    grid-row: 2 / 3;
    background-image: url("./screenshots/Login\ &\ Signup.png");
  }
  .three{
    grid-column: 2 / 3;
    grid-row: 2/3;
    background-image: url("./screenshots/sqlDatabaseSnip.JPG");

  }
  .four{
    grid-column: 1 / 2;
    grid-row: 3/3;
    
  }
  .five{
    grid-column: 2 / 3;
    grid-row: 3 / 3;
   
  }
  .contact{
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact li{
    list-style: none;
  }
  .contact li a{
    text-decoration: none;
    justify-content: space-evenly;   
  }
  


  
  footer {
    padding: 20px;
    text-align: center;
    background:cornsilk;
    color: #fff;
  }
  @media screen and (max-width: 1280px){
    .hero-text {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      color:var(--accent-dark);
      background:aqua;
      padding-left:1em;
      padding-right:1em;
    }

  }
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
        display: hide;
        text-align:center;
        border-bottom: 2px solid darkblue;
        border-right:#fff;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: cornsilk
  }
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(-50%, -50%);
    color:var(--accent-dark);
    background:aqua;
    padding-left:1em;
    padding-right:1em;
  }
  .contact{
    display: block;
    text-align: center;
  }
}